.bento-container {
  display: grid;
}

.bento-item {
  background: #f0f0f0;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;

  &__filler {
    animation: fadeIn 0.5s;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.edit-bar {
  display: flex;
  max-width: 372px;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-inline: auto;

  .input-label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  button {
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 150px;

    &.autoFill {
      background-color: #d99a2d;
      &:hover {
        background-color: darken(#d99a2d, 10%);
      }
    }

    &.drag {
      background-color: #3d3596;
      &:hover {
        background-color: darken(#3d3596, 10%);
      }
    }
  }
}
