section {
  max-width: 100%;
  margin: 0 auto;
  width: calc(160px * 9);
}

.bento-container {
  margin-inline: 0;
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
  grid-auto-rows: repeat(auto-fit, minmax(160px, 1fr));
}

.bento-item {
  background: #f0f0f0;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;
}
