<section
  class="bento"
  #bento
  [ngStyle]="{
    'max-width': maxWidth > 0 ? maxWidth + 'px' : 'none',
    'margin-inline': 'auto'
  }"
>
  <div
    class="bento-container"
    #bentoContainer
    cdkDropList [cdkDropListDisabled]="mode==='autoFill'"
    (cdkDropListDropped)="onDrag($event)"
    [ngStyle]="{
    'grid-template-columns': 'repeat(auto-fit, minmax(' + cellSize + 'px, ' + cellSize + 'px))',
    'max-width': (currentCols * cellSize) + 'px',
    'margin-inline': 'auto',
  }"
  >
    @for (item of data; track item) {
      <div
        cdkDrag
        class="bento-item"
        [ngStyle]="{
          'width.px': item.colSpan * cellSize,
          'height.px': item.rowSpan * cellSize,
          'background-color': item.backgroundColor,
          'grid-column-start': item.col + 1,
          'grid-column-end': 'span ' + item.colSpan,
          'grid-row-start': item.row + 1,
          'grid-row-end': 'span ' + item.rowSpan
        }"
        cdkDragHandle
      >
        {{ item.id }}
        <br />
        {{ item.row + 1 }} x {{ item.col + 1 }}
      </div>
    } @if(createFillers) {@for (item of fillerItens; track item) {
    <div
      class="bento-item__filler"
      [ngStyle]="{
        'width.px': item.colSpan * cellSize,
        'height.px': item.rowSpan * cellSize,
        'background-color': item.backgroundColor,
        'grid-column-start': item.col + 1,
        'grid-column-end': 'span ' + item.colSpan,
        'grid-row-start': item.row + 1,
        'grid-row-end': 'span ' + item.rowSpan
      }"
      cdkDragHandle
    >
      {{ item.id }}
      FILLER
      <br />
      {{ item.row + 1 }} x {{ item.col + 1 }}
    </div>

    }}
  </div>
</section>

@if(editMode) {
<div class="edit-bar">
  <label class="input-label number">
    Tamanho da célula:
    <input type="number" [(ngModel)]="cellSize" (input)="onCustomChange()" />
  </label>
  <label class="input-label number">
    Máximo de Colunas:
    <input type="number" [(ngModel)]="maxCols" (input)="onCustomChange()" />
  </label>
  <label class="input-label checkbox">
    Criar Fillers:
    <input
      type="checkbox"
      [(ngModel)]="createFillers"
      (change)="onCustomChange()"
    />
  </label>
  <button  [class]="mode" (click)="switchMode()">
    {{ mode === "autoFill" ? "Drag" : "AutoFill" }} Mode
  </button>
  <button class="new-item" (click)="createNewItem()">Novo Item</button>
</div>
}
