<div class="edit-bar">
  <label class="input-label number">
    Largura da célula:
    <input
      type="number"
      [(ngModel)]="_cellWidth"
      (ngModelChange)="onCellChange()"
    />
  </label>
  <label class="input-label number">
    Altura da célula:
    <input
      type="number"
      [(ngModel)]="_cellHeight"
      (ngModelChange)="onCellChange()"
    />
  </label>
  <label class="input-label number">
    Gap entre as células:
    <input
      type="number"
      [(ngModel)]="options.gridGap"
      (input)="onCellChange()"
    />
  </label>
  <label class="input-label number">
    Máximo de Colunas:
    <input
      type="number"
      [(ngModel)]="options.maxCols"
      (input)="onGridChange()"
    />
  </label>
  <label class="input-label checkbox">
    Criar Fillers:
    <input
      type="checkbox"
      [(ngModel)]="options.createFillers"
      [disabled]="options.mode === 'edit'"
    />
  </label>
  <button [class]="options.mode" (click)="switchMode()">
    {{ options.mode === "autoFill" ? "Reordenar Grid" : "Preencher Grid" }}
  </button>
  <button class="new-item" (click)="addItem()">Novo Item</button>

  @if(options.mode === "edit"){
    <div class="selected-menu">
      <button class="delete-button" (click)="removeItem()">Deletar</button>
      <div class="move-buttons">
        <button class="move-left-button" (click)="swapItemPosition('left')">
          <
        </button>
        <button class="move-right-button" (click)="swapItemPosition('right')">
          >
        </button>
      </div>
    </div>
    }
</div>
