<div
  [ngClass]="['product-container', colorMode]"
  [ngStyle]="{
  'border-radius': 4 + 'px',
  'object-fit': 'cover',
    height: '-webkit-fill-available',
    width: '-webkit-fill-available',
  }"
>
  <div [ngClass]="['flex', 'format-' + format]">
    <div class="flex-cell image-cell">
      <img
        *ngIf="format !== '1x1'"
        [src]="imageUrl"
        alt="{{ productName }}"
        [ngClass]="['product-image-' + format]"
      />
    </div>
    <div class="flex-cell info-cell">
      <div class="title" [innerHTML]="productName | sanitize"></div>
      <div [ngClass]="['price-description', 'format-' + format]">
        <p class="product-price" [innerHTML]="price | sanitize"></p>
        <p class="product-description" [innerHTML]="description | sanitize"></p>
      </div>
    </div>
  </div>
</div>
