.simple-product {
  height: 100%;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  &.format-2x1 {
    flex-direction: row;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    &.format-2x1 {
      flex-direction: column;
      width: 50%;
    }

    .title {
      width: 100%;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    .product-description {
      font-size: 16px;
      text-align: center;
      padding: 0 8px;
    }

    .product-price {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.product-image-1x2 {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.product-image-1x2 {
  border-radius: 4px 4px 0 0;
}
.product-image-2x1 {
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

p {
  margin: 0;
}

//color modes
.product-container {
  // Light mode styles
  &.light {
    background-color: #fbfbfb;
    color: #333;
    border: 1px solid #ccc;

    .title {
      color: #000;
    }

    .product-price {
      color: #333;
    }

    .product-description {
      color: #666;
    }
  }

  // Dark mode styles
  &.dark {
    background-color: #1c1c1c;
    color: #fff;

    .title {
      color: #fff;
    }

    .product-price {
      color: #dba235;
    }

    .product-description {
      color: #c3c3c3;
    }
  }
}
