<div class="simple-product">
  <div [ngClass]="['product-container', colorMode, 'format-' + format]">
    <img
      *ngIf="format !== '1x1'"
      [src]="imageUrl"
      alt="{{ productName }}"
      [ngClass]="['product-image-' + format]"
    />

    <div [ngClass]="['product-container__content', 'format-' + format]">
      <div class="title" [innerHTML]="productName | sanitize"></div>
      <p class="product-price" [innerHTML]="price | sanitize"></p>
      <p class="product-description" [innerHTML]="description | sanitize"></p>
    </div>
  </div>
</div>
