@if (isOpen) {
<div class="modal-back">
  <div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-button" (click)="close()">&times;</button>

      <app-carrossel
        class="carousel-container"
        [images]="images"
        [(currentIndex)]="currentImageIndex"
      >
        ></app-carrossel
      >

      <div class="product-info">
        <h2 class="product-name">{{ productName }}</h2>
        <p class="product-price">{{ price | currency : "BRL" }}</p>
        <p class="product-description">{{ description }}</p>

        <div class="quantity-selector">
          <button (click)="decrementQuantity()">-</button>
          <input type="number" [(ngModel)]="quantity" min="1" />
          <button (click)="incrementQuantity()">+</button>
        </div>

        <div class="observations">
          <textarea
            [(ngModel)]="observations"
            placeholder="Adicione observações ao pedido..."
            rows="3"
          ></textarea>
        </div>

        <button class="submit-button" (click)="submitOrder()">
          Adicionar ao Carrinho
        </button>
      </div>
    </div>
  </div>
</div>
}
