<section
  class="bento"
  #bento
  [ngStyle]="{
    'max-width': options.maxWidth > 0 ? options.maxWidth + 'px' : 'none',
    'margin-inline': 'auto'
  }"
>
  <div
    class="bento-container"
    #bentoContainer
    [ngStyle]="{
    'grid-template-columns': 'repeat(auto-fit, minmax(' + options.cellWidth + 'px, ' + options.cellWidth + 'px))',
    'max-width': (currentCols * options.cellWidth) + 'px',
    'margin-inline': 'auto',
  }"
  >
    @for (item of data; track item) {
    <div
      class="bento-item"
      [ngClass]="{ selected: selectedItem === item && options.mode === 'edit' }"
      (click)="selectItem(item)"
      [ngStyle]="{
        'width.px': item.colSpan * options.cellWidth,
        'height.px': item.rowSpan * options.cellHeight,
        'grid-column-start': item.col + 1,
        'grid-column-end': 'span ' + item.colSpan,
        'grid-row-start': item.row + 1,
        'grid-row-end': 'span ' + item.rowSpan,
        padding: options.gridGap + 'px'
      }"
    >
      <div
        [ngClass]="{ 'disable-click': options.mode === 'edit' }"
        [ngStyle]="{

      height: '-webkit-fill-available',
      width: '-webkit-fill-available',
    }"
      >
        <ng-container
          *ngComponentOutlet="item.component; inputs: item.inputs"
        ></ng-container>
      </div>
    </div>
    } @if(options.createFillers) {@for (item of fillersInGrid; track item) {
    <div
      class="bento-item__filler"
      [ngStyle]="{
        'width.px': item.colSpan * options.cellWidth,
        'height.px': item.rowSpan * options.cellHeight,
        'grid-column-start': item.col + 1,
        'grid-column-end': 'span ' + item.colSpan,
        'grid-row-start': item.row + 1,
        'grid-row-end': 'span ' + item.rowSpan,
        padding: options.gridGap + 'px'
      }"
    >
      <ng-container
        *ngComponentOutlet="item.component; inputs: item.inputs"
      ></ng-container>
    </div>

    }}
  </div>
</section>
