<section
  class="bento"
  #bento
  [ngStyle]="{
    'max-width': options.maxWidth > 0 ? options.maxWidth + 'px' : 'none',
    'margin-inline': 'auto'
  }"
>
  <div
    class="bento-container"
    #bentoContainer
    [ngStyle]="{
    'grid-template-columns': 'repeat(auto-fit, minmax(' + options.cellWidth + 'px, ' + options.cellWidth + 'px))',
    'max-width': (currentCols * options.cellWidth) + 'px',
    'margin-inline': 'auto',
  }"
  >
    @for (item of data; track item) {
    <div
      class="bento-item"
      [ngClass]="{ selected: selectedItem === item && mode === 'edit' }"
      (click)="selectItem(item)"
      [ngStyle]="{
        'width.px': item.colSpan * options.cellWidth,
        'height.px': item.rowSpan * options.cellHeight,
        'grid-column-start': item.col + 1,
        'grid-column-end': 'span ' + item.colSpan,
        'grid-row-start': item.row + 1,
        'grid-row-end': 'span ' + item.rowSpan,
        padding: options.gridGap + 'px'
      }"
    >
      <div
        [ngClass]="{ 'disable-click': mode === 'edit' }"
        [ngStyle]="{

      height: '-webkit-fill-available',
      width: '-webkit-fill-available',
    }"
      >
        <ng-container
          *ngComponentOutlet="item.component; inputs: item.inputs"
        ></ng-container>
      </div>
    </div>
    } @if(options.createFillers) {@for (item of fillersInGrid; track item) {
    <div
      class="bento-item__filler"
      [ngStyle]="{
        'width.px': item.colSpan * options.cellWidth,
        'height.px': item.rowSpan * options.cellHeight,
        'grid-column-start': item.col + 1,
        'grid-column-end': 'span ' + item.colSpan,
        'grid-row-start': item.row + 1,
        'grid-row-end': 'span ' + item.rowSpan,
        padding: options.gridGap + 'px'
      }"
    >
      <ng-container
        *ngComponentOutlet="item.component; inputs: item.inputs"
      ></ng-container>
    </div>

    }}
  </div>
</section>

<!-- ----------------TOOLBAR---------------- -->

@if (options.editMode) {
<div class="edit-bar">
  <label class="input-label number">
    Largura da célula:
    <input
      type="number"
      [(ngModel)]="_cellWidth"
      (ngModelChange)="onCustomChange()"
    />
  </label>
  <label class="input-label number">
    Altura da célula:
    <input
      type="number"
      [(ngModel)]="_cellHeight"
      (ngModelChange)="onCustomChange()"
    />
  </label>
  <label class="input-label number">
    Gap entre as células:
    <input
      type="number"
      [(ngModel)]="options.gridGap"
      (input)="onCustomChange()"
    />
  </label>
  <label class="input-label number">
    Máximo de Colunas:
    <input
      type="number"
      [(ngModel)]="options.maxCols"
      (input)="onCustomChange()"
    />
  </label>
  <label class="input-label checkbox">
    Criar Fillers:
    <input
      type="checkbox"
      [(ngModel)]="options.createFillers"
      (change)="onCustomChange()"
    />
  </label>
  <button [class]="mode" (click)="switchMode()">
    {{ mode === "autoFill" ? "Reordenar Grid" : "Preencher Grid" }}
  </button>
  <button class="new-item">Novo Item</button>

  @if(mode === "edit"){
  <div class="selected-menu">
    <button class="delete-button" (click)="removeItem()">Deletar</button>
    <div class="move-buttons">
      <button class="move-left-button" (click)="swapItemPosition('left')">
        <
      </button>
      <button class="move-right-button" (click)="swapItemPosition('right')">
        >
      </button>
    </div>
  </div>
  }
</div>

}
