.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;

  // Base styles
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
  }

  .grid-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .product-image {
    object-fit: cover;
    border-radius: 5px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
  }

  .price-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-price {
    font-size: 32px;
    font-weight: bold;
  }

  .product-description {
    font-size: 16px;
    text-align: center;
  }

  p {
    margin: 0;
  }

  // Light mode styles
  &.light {
    background-color: #fbfbfb;
    color: #333;
    border: 1px solid #ccc;

    .title {
      color: #000;
    }

    .product-price {
      color: #333;
    }

    .product-description {
      color: #666;
    }
  }

  // Dark mode styles
  &.dark {
    background-color: #1c1c1c;
    color: #fff;

    .title {
      color: #fff;
    }

    .product-price {
      color: #dba235;
    }

    .product-description {
      color: #c3c3c3;
    }
  }
}
