<section class="bento-module">
  <app-header class="header" (search)="onSearch($event)"></app-header>

  <app-bento-box
    class="bento-box"
    [data]="data"
    [fillers]="fillers || []"
    [options]="options"
    [selectedId]="selectedItem ? selectedItem.id : null"
    (itemClick)="onItemClick($event)"
    (itemEdit)="onItemEdit($event)"
    (itemDelete)="onItemDelete($event)"
  ></app-bento-box>

  @if (toolbar) {
    <app-bento-toolbar [data]="data" [options]="options" [selectedItem]="selectedItem">
    </app-bento-toolbar>
  }
</section>
