:host {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
}
